
@{
    ViewData["Title"] = "Index";
}

<form method="post">
      <input type="text" id="login"  name="Email" placeholder="Email">
      <input type="password" id="contraseña"  name="Password" placeholder="Contraseña">
      <input type="submit"  value="Ingresar" style="margin-bottom:40px; margin-top:40px">
    </form>



    <div>
      <p><a asp-area="" asp-controller="Usuarios" asp-action="Create">Registrese</a></p>
    </div>